    <div class="newsNugget">
        <a href="{{ $ctrl.readable.link }}" target="_blank">Headline #{{ $ctrl.readable.id + 1 }}: {{ $ctrl.readable.title }}</a>
        <p>{{ $ctrl.readable.publisher.name }} - published {{ $ctrl.readable.published }}</p>
        <p>{{ $ctrl.readable.summary }}</p>
    </div>

    <div class="bottomBar">
        <button class="clickables" ng-click="$ctrl.readable.favorite = true">Favorite</button>
        <button class="clickables" ng-click="hideArticle($ctrl.readable)">Hide</button>
    </div>