<!DOCTYPE html>

<html ng-app="NewsTrackerApp">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
</head>

<body ng-controller="NewsController">
    <section id="newsTitle">
        <i class="fa fa-stop fa-4x" aria-hidden="true"></i>
        <h1>Newsboy: Platinum Edition</h1>
    </section>

    <section id="secondRow">

        <section id="leftSide">
            <button class="selectionButtons" ng-click="removeHidden()">All</button>
            <button class="selectionButtons" ng-click="findFavorites()" id="favorites">Favorites</button>
            <button class="selectionButtons" ng-click="findCNN()">CNN</button>
            <button class="selectionButtons" ng-click="findBBC()">BBC</button>
            <button class="selectionButtons" ng-click="findNYT()">New York Times</button>
            <button class="selectionButtons" ng-click="findBuzz()">Buzzfeed</button>
        </section>

        <section id="rightSide">
            <div class="newsBox" ng-repeat="element in news">

                <div class="newsNugget">
                    <a href="{{ element.link }}" target="_blank">Headline #{{ element.id + 1 }}: {{ element.title }}</a>
                    <p>{{ element.publisher.name }} - published {{ element.published }}</p>
                    <p>{{ element.summary }}</p>
                </div>

                <div class="bottomBar">
                    <button class="clickables" ng-click="makeFavorite(element)">Favorite</button>
                    <button class="clickables" ng-click="">Hide</button>
                </div>

            </div>

            <!--<div class="newsBox" ng-repeat="element in news" readable="element"></div>-->

        </section>

    </section>

</body>

</html>